@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~/assets/fonts/Roboto_Slab/static/RobotoSlab-Regular.ttf') format('truetype');
}

/* Base HTML tag styles */
@layer base {
  /* TODO Establish a color pallete for light theme so far:
    Light-theme pallete (different tints of green)
    #DEE5E5 platinum
    #9DC5BB opal
    #17B890 mountain meadow
    #5E807F steel teal
    #082D0F dark green
  */
  :root {
    --text-color: #000000;
    --main-background: #f2f2f2; /* #f0f8ff or aliceblue could also work for light theme*/
    --link-color: #0600cb;
    /* Dark theme #ffffff is slightly harsh for text-color so toning down
      --text-color: #e3e3e3;
      --main-background: #292929;
      --link-color: #3EE6B6;
    */
  }

  h1 {
    @apply text-center text-base;
    font-family: 'Roboto Slab', monospace;
  }

  h2 {
    @apply text-xl;
  }

  body {
    @apply h-2;
    padding: 2.5% 7.5%;
    font-family: 'Rubik', monospace, helvetica;
    line-height: 1.4;
    color: var(--text-color);
    background: var(--main-background);
  }

  button {
    @apply font-bold py-2 px-4 rounded;
    color: var(--text-color);
    background-color: var(--main-background);
  }

  button:hover {
    @apply cursor-pointer;
  }

  a {
    color: var(--link-color);
  }

  /* Avoiding color change when visited since transition property does not target pseudo-classes */
  a:visited {
    color: var(--link-color);
  }

  header {
    @apply flex flex-col items-center justify-center pt-5 text-center;
  }

  article {
    @apply flex flex-col items-center justify-center pt-5 pb-5 text-left;
  }

  footer {
    @apply p-4 bg-white rounded-lg shadow md:px-6 md:py-8;
  }
}

/* Component classes that modify base HTML elements */
@layer components {
  #theme-switcher {
    @apply text-xl;
  }

  #search-bar {
    @apply text-center p-2;
  }

  #search-bar > input {
    @apply text-center w-1/2 p-1 rounded-2xl border-green-200;
  }
}

@layer utilities {
  /* Note that span elements cannot be animated or transformed */
  .spin {
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }

  @keyframes spin {
    from {
      @apply rotate-0;
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* For smoother color transition between themes */
  body, button, a {
    transition-property: color, background-color;
    transition-duration: 0.4s;
    /* quintic function for lower downtime between text color and background switching */
    transition-timing-function: cubic-bezier(.86, 0, .07, 1);
  }
}
